P{
  Color: Red ;
} 
B{
  Color:Red;
}
H1{
  Color :Black;
} 
h2{
  Color :Red;
} 

body {
  background-image: url("https://www.ppt-backgrounds.net/thumbs/newsprint-newspaper-image-keynote-backgrounds.jpg");
}
H3{
  color: Black;
}
 
    
